POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
PGADMIN_DEFAULT_EMAIL=you@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password
DATABASE_URL=postgresql://your_username:your_password@localhost:5432/jobs_tracker
